header {
    background-color: blue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: white;
}
nav ul li{
    display: inline;
}
nav ul li a {
    color: white;
}
.destaque {
    width: 80%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    padding: 20px;
}
.sobre {
    margin-bottom: 30px;
}
footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
}
.pontos-turisticos {
    width: 45%;
    float: left;
}


